$white: #fff;

$grayish: #efefef;
$light-gray: #DEDFE5;
$gray: #323749;

$green: #00ae1c;
$aquaish: #F2F5F7;
 
$background-shadow: 0px 4px 4px #0000001a;
$shadow-task: 4px 4px 4px #0000001a;
$shadow-btn: 0px 1px 2px #1018280d;
$shadow-hover: 4px 4px 4px #1018280d;

$speed-btn: 200ms;
$speed-main: 500ms;
