@mixin font-style($weight, $size, $line-height) {
  font-family: "Inter", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  gap: $gap;
  @content;
}

@mixin visibilityElement($show, $speed) {
  transition-delay: $speed;
  visibility: $show;
}
